{{#each this}}
<div class="photo-card">      
          <a class="gallery__item" href="{{largeImageURL}}">
            <img src="{{webformatURL}}" data-source="{{largeImageURL}}" alt="{{tags}}" loading="lazy" />
          </a>
          <div class="info">
            <p class="info-item">
              <b>Likes</b><span>{{likes}}</span>
            </p>
            <p class="info-item">
              <b>Views</b><span></span>{{views}}
            </p>
            <p class="info-item">
              <b>Comments</b><span>{{comments}}</span>
            </p>
            <p class="info-item">
              <b>Downloads</b><span>{{downloads}}</span> 
            </p>
          </div>
        </div>
{{/each}}